* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: inherit;
}
:root{
    --header-height: 90px;
    --header-height-padding: 20px;
    --page-width: 1280px;
}
.centre {
    display: flex;
    justify-content: center;
}
.menu {
    width: 100%;
    background-color: rgb(26, 26, 116);
    min-width: var(--page-width);
    height: var(--header-height);
    color:white;
}
.menu > nav {
    width: var(--page-width);
    margin: 0 auto;
}
.menu > nav input[type=text]{
    box-sizing: border-box;
    line-height: calc(var(--header-height) - 2 * var(--header-height-padding));
    margin-top: 20px;
    width: 40em;
    padding-left: 5px;
    color: black;

}
.menu > nav a {
    display: inline-block;
    box-sizing: border-box;
    height: var(--header-height);
    padding: var(--header-height-padding) 5px;
    line-height: calc(var(--header-height) - 2 * var(--header-height-padding));
    font-size: 18px;
}
.menu > nav a:hover, .menu > nav a.active {
    color: black;

}
.menu > nav > a {
    float: left;
    font-size: 24px;
}

.menu > nav > nav:not(:last-child) {
    float: left;
    padding-left: 20px;
}

.menu > nav > nav:last-child {
    float: right;
}

#main{
    box-sizing: border-box;
    width: var(--page-width);
    margin: 30px auto;
}
.register_connect_button {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    color: black;
    background-color: lightgrey;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.register_connect_button:hover{
    background-color: rgb(204, 199, 199);
}
#form_register_connec{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
#form_register_connec h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form > input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit] {
    background-color: rgb(26, 26, 116);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}
